.nav-cart-count {
  position: absolute;
  top: -6px;
  right: -10px;
  background: red;
  color: white;
  width: 18px;
  height: 18px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  text-align: center;
  line-height: 18px;
}

.active-line {
  height: 3px;
  background: #0C67A0;
  border: none;
  width: 100%;
  margin-top: 2px;
  border-radius: 3px;
}
